<div class="row">
	<div class="span12" align="center">
		<%= image_tag("dke_crest.gif", :alt => "")%><br><br>
		<h1 class="title">
			&Delta;&Epsilon;&Lambda;&Tau;&Alpha; 
			&Kappa;&Alpha;&Pi;&Pi;&Alpha; 
			&Epsilon;&Pi;&Sigma;&Iota;&Lambda;&Omicron;&Nu;
		</h1>
		<h2 class="title">
			&Sigma;&Iota;&Gamma;&Mu;&Alpha; 
			&Tau;&Alpha;&Upsilon;
		</h2>
	</div>
</div>
