# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore misc tmp bible files
/db/bibles/*

# Ignore all logfiles and tempfiles.
/log/*.log
log
log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
public/assets/*

Gemfile.lock
