<% provide(:title , 'Chapter Officers')%>

<div class="row me">
	<div class="span12" align="left">
		<h3>Contacting DKE</h3>
	</div>	
	<% @officers.each do |pos, info|%>
	  <div class="span6" align="center">
		<p><b><%= info[:name]%>:</b> <%= "#{info[:full_name]} '#{info[:year]}"%>
		<br><b>Contact For:</b> <%= info[:contact]%>
		<br><%= link_to "#{info[:uname]}@mit.edu", "mailto:#{info[:uname]}@mit.edu"%>
	  </div>
	<%end%>
</div>