<% provide(:title , 'Summer Housing Applicaiton')%>

<div class="row">
	<div class="span12" align="left">
		<h3>Summer Housing Form Submission Complete</h3>
		
		Thank you for your interest in staying at DKE over the summer.
		Please be patient while we review your application.  We will get back to you as soon as we can.
	</div>
</div>
