<% provide(:title , "House Points -- #{@officer.title}")%>

<div class="row">
	<div class="span12" align="left" style="font-weight:bold;">
	  <h2>House Points -- <%= @officer.title%></h2>
	  
	</div>
</div>