<% provide(:title , "Position Management")%>

<div class="row">
	<h2>Position Management</h2>
	<div class="span6 offset3">
	<%= form_tag position_management_url, method: :post do%>
	  <% @positions.each do | position , officer |%>
	  	<br><%= position%>:
	  	<%= select_tag( position, options_for_select(@brothers, selected: officer))%>
	  <%end%>
	  <br><%= submit_tag "Update Positions", class: "btn btn-primary"%>
	<%end%>
	</div>
</div>
			