<% provide(:title , "About DKE")%>

<div class="row house">
	<div class="span12" align="left">
		<h2>About Sigma Tau</h2>
	</div>
	<div class="span12">
		<%= image_tag("skyline.jpg", :alt => "")%>
	</div>
	<div class="span12" align="left">
		The Sigma Tau Chapter of Delta Kappa Epsilon is a fraternity at the Massachusetts Institute of Technology. 
		DKE was chartered on November 14th, 1890 as the tenth MIT fraternity. It was founded by members of a local 
		society, Alpha Gamma Kappa, that had been established to petition for a new DKE charter.
		<br><br>
		Today, the DKE house stands in the middle of the West Campus, along dorm row between Baker House and 
		Burton-Conner, along with a few fellow fraternities. DKEs are actively involved in all facets of campus life 
		from varsity and club athletics, to The Tech, to community service
	</div>
	<div class="span12" align="left">
		<h2>History of Delta Kappa Epsilon</h2>
	</div>
	<div class="span3">
		<%= image_tag("dkecrestold.png", :alt => "")%>
	</div>
	<div class="span9">
		<div class="pad_right">
			In the spring of 1844 at Yale College in New Haven, Connecticut, a number of men of high character and 
			scholastic attainment did not receive bids from the campus' two fraternities. This unfair act, which was 
			due to undergraduate politics and a division in the Sophomore class, caused some men who did in fact receive 
			bids to promptly reject them. Together, these men created a new society, founded in a meeting on June 22, 
			1844 in room Number 12, Old South Hall. Here, both the fraternity's secret and open Greek mottos were devised.
			 The open motto being "Kerothen Philoi Aei," which in English means "Friends from the Heart, Forever." The 
			 DKE pin was also created with the Greek letters of DKE on a white scroll upon a black diamond with a gold 
			 rope trim and a star in each corner, as well as the colours crimson, blue, and gold. The chapter started 
			 with it's 15 founders deeming itself Phi of Delta Kappa Epsilon. To this day, it is the only fraternity at 
			 Yale that has never gone inactive. Within three years, chapters were founded at Bowdoin, Princeton, Colby 
			 College, and Amherst College. Since that time, DKE has grown to over 64 chapters and initiated over 85,000 
			 members across North America. The fraternity is inextricably linked to the history of the United States of 
			 America, as its members include a whopping 5 of the 44 presidents, including both George Bush's Rutherford 
			 B. Hayes, Teddy Roosevelt, and Gerald Ford. The first west coast chapter was founded at UCal Berkeley in 
			 1876, which was followed by their rival Stanford in 1901. DKE became an international fraternity with the 
			 addition of the Alpha Phi chapter in 1898 at the University of Toronto in Canada.
		</div>
	</div>	
</div>
