<% provide(:title , @content.title)%>

<div class="row house">
	<div class="span12" align="left">
	  <%= form_for(@content, options={url: "#{chapter_public_index_path}#{@content.pname}#update"}) do | f |%>
	    <b>Title:</b><%= f.text_field :title%>
	  	<%= f.cktext_area :content%>
	  	<%= f.submit("Update Page", :class => "btn btn-primary")%>
	  <% end %>
	</div>	
</div>
