<% provide(:title , @content.title)%>

<div class="row house">
	<div class="span12" align="left">
		<h2>
			<%= @content.title%>
			<%= link_to("Edit" , "#{chapter_public_path}/edit" , :class => "btn btn-primary pull-right") if @me.in_group(@content.user)%>
		</h2>
		<p><%= @content.content.gsub("\n","<br>").html_safe%></p>
	</div>	
</div>
