<% provide(:title , "The House")%>

<div class="row house">
	<h2>Welcome to the DKE House</h2>
	<div class="span6">
		<%= image_tag("dke_house.jpg", :alt => "")%>
	</div>
	<div class="span6">
		<h2>About the House</h2>
		<p>Work began on the DKE house in the fall of 1924. &nbsp; After 2 years of construction, the Sigma Tau chapter
			took posession of the new chapter house on Memorial Drive, where we have been located since.  </p>
		<br><h2><%= link_to "Tour the House", tour_path%></h2>
	</div>
</div>
