<% provide(:title , 'Brother Information')%>

<div class="row me">
	<div class="span12" align="left">
		<% @brothers.each do | year , group |%>
			<h4>Class of <%= year %></h4>
			<div class='row'>
				<% col_num = (group.length/4.0).ceil %>
				<% count = 0%>
				<% group.each do |brother|%>
					<% if (count)%col_num == 0 %>
						<div class='span3'>
					<%end%>
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<!-- front content -->
								<%= link_to brother[0], "#{brothers_path}/#{brother[1]}"%><br>
							</div>
							<div class="back">
								<!-- back content -->
							</div>
						</div>
					</div>
					<% if (count+=1)%col_num == 0 || (count)==group.length%>
						</div>
					<%end%>
				<%end%>
			</div>
		<%end%>
	</div>
</div>
