<% provide(:title , "Surveys")%>

<div class="row">
  <div class="span6 offset3" align="left">
  	<h3>Surveys</h3>
	<table class="table">
	  <thrad>
	  	<th>Title</th>
	  	<th>Description</th>
	  	<th>Responses</th>
	  	<th>Author</th>
	  	<th></th>
	  </thrad>
	  <tbody>
	   <% @surveys.each do | survey |%>
		<tr>
		  <td><%= link_to survey.title, main_app.result_path(survey.id)%></td>
		  <td><%= survey.description%></td>
		  <td><%= survey.responses%></td>
		  <td><%= survey.officer.title%></td>
		</tr>
	   <% end%>
	  </tbody>
	</table>
  </div>
</div>