<li class="nav-item"><%= link_to "Meal Plan Management" , main_app.meal_plan_path%></li>
<li class="nav-item"><%= link_to "E Controller" , main_app.epsilon_index_path%></li>
<li class="nav-item"><%= link_to "House Point Entries" , gen_point_url("epsilon")%></li>
<li class="nav-item"><%= link_to "Old E Data" , main_app.backup_e_data_tables_path%></li>