<li class="nav-item"><%= link_to "Summer Housing Advertisment" , main_app.summer_housing_edit_path%></li>
<li class="nav-item"><%= link_to "Summer Housing Applications" , main_app.summer_apps_path%></li>