// Place all the styles related to the chapter_public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chapter_public_content {
  width: 90%;
  overflow: hidden;
  resize: none;
  outline: none;
  //height: 500px;
}
#chapter_public_title {
  width: 90%;
  outline: none;
}

div.house
{
   background-color: rgba(0, 0, 65, 1);
   color:white;
   border-radius:10px;
   //text-shadow: 2px 2px #333;
   font-size:115%;
   text-align:center;
   padding-top:10px;
   padding-bottom:10px; 
}

div.floor
{
   padding-top:10px;
   padding-bottom:10px; 
}

img.floorplan
{
  min-width:400px;
}
