// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pswd-field {
  width:100px;
  padding:0;
  margin-top:10px
}

.no-padding {
  margin:0;
}
