// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.filter_select
{
  width: auto;
  height: auto;
  margin-bottom: 3px;
  padding: 0 0 0 0;
}

.query_select
{
  margin-top: 10px;
  width: 110px;
}

.query_text
{
  margin-top: 10px;
  width: 150px;
}
