<div class="row">
	<div class="span12">
		<%= link_to "Add Event", main_app.new_event_path, class: "btn btn-primary pull-right"%>
	</div>
	<div class="span12">
		<div id="calendar" class="cal"></div>
	</div>
</div>
<script>
	$(document).ready(function() {
	    $('#calendar').fullCalendar({
	        header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			eventLimit: true,
			eventSources: [
				{url: '<%= main_app.events_path%>'},
				{url: '<%= main_app.events_mit_reg_path%>'}
			]
	    })
	});
</script>
