<h4><%= question.question%></h4>
<% JSON.load(question.option).each do | opt |%>
  <%= check_box_tag("questions[#{question.id}][#{opt}]")%>
  <%= label_tag("questions_#{question.id}_#{opt}", opt)%><br>
<% end %>