<h4><%= question.question%></h4>
<table class="table-condensed table-striped">
  <thead>
    <tr>
     <th></th>
     <% JSON.load(question.option2).each do | col |%>
      <th><%= col%></th> 
     <% end %>
    </tr>
  </thead>
  <tbody>
   <% JSON.load(question.option).each do | row |%>
    <tr>
      <td><b><%= row%></b></td>
      <% JSON.load(question.option2).each do | col |%>
       <td><%= radio_button_tag("questions[#{question.id}][#{row}]", col, nil, required: true)%></td>
      <% end %>
    </tr>
   <% end %>
  </tbody>
</table>