<h4><%= question.question%></h4>
<% JSON.load(question.option).each do | opt |%>
  <%= number_field_tag("#{question.id}[#{opt}]", nil, class: "rank")%>
  <%= label_tag("#{question.id}_#{opt}", opt)%><br>
<% end %>