<h4><%= question.question%></h4>
<% JSON.load(question.option).each do | opt |%>
  <%= number_field_tag("questions[#{question.id}][#{opt}]", nil, class: "rank", required: true)%>
  <%= label_tag("questions_#{question.id}_#{opt}", opt)%><br>
<% end %>