<h4><%= question.question%></h4>
<% for opt in question.option.to_i..question.option2.to_i%>
  <%= radio_button_tag("questions[#{question.id}]", opt)%>
  <%= label_tag("questions_#{question.id}_#{opt}", opt)%>
<% end %>