<li id="brochicken_sub" class="dropdown-submenu"><a>Brochicken</a>
	<ul class="dropdown-menu">
		<li><%= link_to 'User Management' , main_app.users_path%></li>
		<li><%= link_to 'Room Management', main_app.residences_path%></li>
		<li><%= link_to 'phpMyAdmin' , '/phpmyadmin'%></li>
		<li><%= link_to 'Raid Card' , 'http://18.233.0.45'%></li>
	</ul>
</li>