<li class="nav-item"> <%= link_to "About DKE" , "#{public_pages_path}about"%></li>
<li class="nav-item"><%= link_to "President's Letter" , "#{public_pages_path}letter"%></li>
<li class="nav-item"><%= link_to 'The Brothers' , brothers_path%></li>
<!--<li class="nav-item"><= link_to "The House" , house_rooms_path%></li>
<li class="nav-item"><= link_to "Summer Housing" , summer_housing_path%></li>-->
<li class="nav-item"><%= link_to "Contact" , contact_path%></li>


