<li class="nav-item"><a>About DKE</a></li>
<li class="nav-item"><a>President's Letter</a></li>
<li class="nav-item"><%= link_to 'The Brothers' , brothers_path%></li>
<li class="nav-item"><a>The House</a></li>
<li class="nav-item"><a>Contact</a></li>

