// Place all the styles related to the chapter/brothers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-edit {
  font-weight:normal;
  margin-right: 20px;
}

.edit {
  text-align:left;
  textarea {
    width:90%;
    height:100px;
  }
}

.hidden
{
  display: none
}

div.dke
{
   text-align:center;
   margin-top:4%;
   padding-top:28.5%;
   background-repeat:no-repeat;
   background-position:center top;
   background-image: asset-url("dke_crest.gif");
   background-size:80%;
}

div.add_little
{
  margin-bottom: 10px;
}

div.info
{
  border:0px;
  text-align:left;
}

div.mit
{
   text-align:center;
   margin-top:2.5%;
   padding-top:30%;
   background-repeat:no-repeat;
   background-position:center top;
   background-image: asset-url("mit_seal.png");
   background-size:70%;
}

div.profile_pg
{
  text-align:center;
  margin-left:1.5%;
  margin-right:1.5%;
}

span.name
{
  background-color: rgba(7, 7, 7, 0.75);
  font-size:25px;
  font-weight:bold;
  padding-right:5px;
  padding-left:5px;
  border-radius:10px;
}

@media (min-width: 768px)
{
 div.me
 {
   background-color: rgba(0, 0, 65, 1);
   color:white;
   border-radius:10px;
   font-size:115%;
   text-align:center;
   padding-top:10px;
   padding-bottom:10px; 
 }

 img.pic
 {
   max-height:400px;
   margin-top:10px;
   margin-bottom:25px;
   border-radius:10px;
 }
}

select.year_select
  {
    margin-top: 10px;
    width: 110px;
  }

@media (min-width: 1200px)
{
  .bl-label
  {
    margin-top: 10px;
  }
  
  .big-field
  {
    margin-top: -40px;
    margin-left: 90px;
  }
  
  .little-field
  {
    margin-top: -40px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) and (min-width: 375px)
{
  .bl-label
  {
    margin-top: 10px;
  }
  
  .big-field
  {
    margin-top: -40px;
    margin-left: 90px;
  }
  
  .little-field
  {
    margin-top: -40px;
    margin-left: 100px;
  }
}

@media (max-width: 768px)
{
 div.me
 {
   background-color: rgba(0, 0, 65, 1);
   color:white;
   border-radius:10px;
   //text-shadow: 2px 2px #333;
   font-size:115%;
   text-align:center;
   padding-top:10px;
 }

 img.pic
 {
   max-height:400px;
   margin-top:10px;
   border-radius:10px;
 }
}