// Place all the styles related to the chapter/residences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.house {
  text-align: center;
}

.house-edit {
  text-align: left;
}

.room-list {
  vertical-align: top;
}

img.room {
  max-width: 75%;
}
