<div class = "about">
	<p class = "title">About</p>
	<p class = "description">The Sigma Tau Chapter of Delta Kappa Epsilon is one of the oldest fraternities at the Massachusetts Institute of Technology. Chartered on November 14th, 1890, DKE was MIT's 10th fraternity.</p>
	<br>
	<p class = "description">``We builded better than we knew, when we founded the brotherhood to which good fellowship has ever been a passport not less requisite than learning, where glees have been written as often as essays, and where the candidate most favored was he who combined in the most equal proportions the gentleman, the scholar, and the jolly good-fellow.''</p>
	<p id = "founder">--The Founding of the Fraternity as Recalled by One of the Founders, Edward Griffin Bartlett, Phi 1846</p>
</div>
