<div class = "main_panel">
	<%= image_tag("dke_lion.png", :class => "home_page_lion") %>
	<p class = "home_page_title">Delta Kappa Epsilon</p>
	<p class = "home_page_sub_title">Sigma Tau</p>
	<p>403 Memorial Drive, Cambridge, MA</p>
</div>