<div>rush
<style type="text/css">
#wrap {
   width:1260px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:630px;
}
#right_col {
   float:right;
   width:630px;
}
</style>

<div id="wrap">
    <div id="left_col">
     	<body>
			<h1>Thursday, April 7th</h1>
			<p>Ice Cream Sundae Night 10PM-1AM</p>
			<h1>Friday, April 8th</h1>
			<p>Kresge Cookout 12-1:30PM</p>
			<p>Poker Night 7-10PM</p>
			<h1>Saturday, April 9th</h1>
			<p>Pizza With the Brothers 12-2PM</p>
			<p>Whiteout Party 10PM-1AM</p>
		</body>
    </div>
    <div id="right_col">
        <%= image_tag("DKE_Map.png", :alt => "DKE Map") %>
    </div>
</div>

</div>